<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader: <%= title %></title>
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/list.css">
</head>
<body>
    <%- include("../header.ejs") %>
    <main>
        <a href="/file/new?folderName=<%= title %>">New</a>
        <% if (files.length) { %>
        <ul>
            <% files.forEach(file => { %>
            <li>
                <span><%= file.name %></span> 
                <div class="options">
                    <a href="/file/show/<%= file.id %>">View</a>
                    <form action="/file/delete" method="post">
                        <input type="hidden" name="id" value="<%= file.id %>">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
            <p>No files have been created!</p>
        <% } %>
    </main>
</body>
</html>