<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader: <%= title %></title>
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/show.css">
</head>
<body>
    <%- include("../header.ejs") %>
    <main>
        <img src="<%= file.path %>" alt="">
        <div class="data">
            <p>Size: <span><%= file.size %> MB</span></p>
            <p>Upload Time: <span><%= file.uploadTime %></span></p>
            <form action="/file/download/<%= file.name %>" method="post">
                <input type="hidden" name="folder" value="<%= folder %>">
                <button type="submit">Download</button>
            </form>
        </div>
    </main>
</body>
</html>