<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/folder/new">New</a>
    <% if (folders.length) { %>
    <ul>
        <% folders.forEach(folder => { %>
        <li>
            <span><%= folder.name %></span> 
            <div class="options">
                <a href="/folder/edit/<%= folder.name %>">Edit</a>
                <form action="/folder/delete" method="post">
                    <input type="hidden" name="id" value="<%= folder.id %>">
                    <input type="hidden" name="name" value="<%= folder.name %>">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
        <p>No folders have been created!</p>
    <% } %>
</body>
</html>